@{
    string[] semanas = {"1", "2", "3", "4"};
    ViewData["Title"] = "Inicio";
}

@model List<CARRERA>

@if (User.Identity.IsAuthenticated)
{   <div class="row">
    <div class="col">
        <a asp-controller="Carrera" asp-action="Index"><button type="button" class="btn btn-warning" style="border-radius: 12px; font-weight: 500;">Agregar Nueva Carrera</button></a>
    </div>
    <div class="col" style="text-align: right;">
        <a asp-controller="Home" asp-action="Participantes"><button type="button" class="btn btn-info" style="border-radius: 12px; font-weight: 500;">Ver Participantes</button></a>
    </div>
</div>
}else{ }

<hr>

<div class="text-center">
    <h2 class="display-4" style="font-weight: 500; padding-top: 10px; padding-bottom: 20px;">Relación de Carreras Semanales</h2>
</div>
<div class="row">
@foreach (var sem in semanas)
{    
    <div class="col-6">
        <div class="card" style="background-color: #F9F3F3; border-radius: 20px; opacity: 86%; margin-bottom: 40px;">
            <div class="card-body">
                <h5 class="card-title" style="text-align: center; font-weight: 700;">Semana @sem</h5>
            </div>
            <table style="text-align: center; vertical-align: middle;" class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>Distancia (en m)</th>
                        <th>Tiempo (en s)</th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model)
            {
                    @if(@item.semana == sem){
                    <tr>
                        <td>@item.nombre_particpante</td>
                        <td>@item.fecCarrera</td>
                        <td>@item.distancia</td>
                        <td>@item.tiempo</td>
                    </tr>
                    }                    
            }
                </tbody>
            </table>
            <div class="card-body">
                <div style="text-align: center;">
                  <button type="button" class="btn btn-link" style="border-radius: 12px;">Editar</button>
                </div>
            </div>
        </div>
    </div>
    
} 
</div>
