

@{
    ViewData["Title"] = "Participantes de la Carrera";
}

@model List<ALUMNO>

<div class="text-center">
    <h2 class="display-4" style="font-weight: 500; padding-top: 5px; padding-bottom: 5px;">Listado de @ViewData["Title"]</h2>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            
        
        <div class="col-4">
            <div class="card" style="background-color: #F9F3F3; border-radius: 20px; opacity: 86%;">
                @if(@item.genero=='M'){
                    <img src="https://bit.ly/3xhAYC7" class="card-img-top" style="width: 250px; padding-top: 15px; padding-left: 30px;">
                }else{
                    <img src="https://bit.ly/3trknux" class="card-img-top" style="width: 250px; padding-top: 15px; padding-left: 30px;">
                }
                <div class="card-body">
                    <h5 class="card-title">@item.nombre</h5><h5 class="card-title">@item.apePat</h5><h5 class="card-title">@item.apeMat</h5>
                    <p class="card-text">@item.fechaNac</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><label>DNI: </label> @item.dni</li>
                    <li class="list-group-item"><label>Celular: </label> @item.celular</li>
                    <li class="list-group-item"><label>Email: </label> @item.email</li>
                </ul>
                <div class="card-body"></div>
            </div>
        </div>

        
        @* <div class="col-4">
            <div class="card" style="background-color: #F9F3F3; border-radius: 20px; opacity: 86%;">
                <img src="" class="card-img-top" style="width: 250px; padding-top: 15px; padding-left: 30px;">
                <div class="card-body">
                    <h5 class="card-title">María</h5><h5 class="card-title">García</h5><h5 class="card-title">Pérez</h5>
                    <p class="card-text">21/08/2001</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><label asp-for="dni"></label>: 79999989</li>
                    <li class="list-group-item"><label asp-for="genero"></label>: F</li>
                    <li class="list-group-item"><label asp-for="celular"></label>: 999999999</li>
                    <li class="list-group-item"><label asp-for="email"></label>: mariagarciap@gmail.com</li>
                </ul>
                <div class="card-body"></div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="background-color: #F9F3F3; border-radius: 20px; opacity: 86%;">
                <img src="https://images.vexels.com/media/users/3/140789/isolated/lists/27b33c159c670a32cbdd9486a7be9a66-secuencia-de-jogging-hombre-1.png" class="card-img-top" style="width: 250px; padding-top: 15px; padding-left: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Pedro José</h5><h5 class="card-title">Pica</h5><h5 class="card-title">Piedra</h5>
                    <p class="card-text">05/11/2000</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><label asp-for="dni"></label>: 77777777</li>
                    <li class="list-group-item"><label asp-for="genero"></label>: M</li>
                    <li class="list-group-item"><label asp-for="celular"></label>: 000000001</li>
                    <li class="list-group-item"><label asp-for="email"></label>: piedra@mail.com</li>
                </ul>
                <div class="card-body"></div>
            </div>
        </div> *@
        }
    </div>
</div>